{% load staticfiles %}
{% include 'testhacks/base.html' %}
<title>HackCollab - Competitors</title>
<link rel="stylesheet" href="{% static 'hackathon/competitors.css' %}">
{% block body %}
    <h1 class="header">Competitors</h1>
    <div class="container">
      {% if competitors %}
        <div class="competitors">
          {% for competitor, parameters in competitors.items %}
            {% if competitor != request.user.testhacks_profile %}
              {% if not competitor.user.is_staff %}
                {% if not competitor.user.is_superuser %}
                  <div class="competitor">
                    <div class="image-cropper">
                      <img class="profile-picture" src="/media/{{competitor.profile_picture}}" alt="">
                    </div>
                    <a href="/profile/{{competitor.id}}"><h4>{{competitor.user.username}}</h4></a>
                    <p style="margin-bottom: 0 !important;">{{competitor.title}}</p>
                    {% if request.user.testhacks_profile.team_id %}
                      {% if parameters.invite %}
                        {% if parameters.max %}
                          <small>Max amount of team members reached!</small>
                        {% else %}
                          <a class="btn btn-primary" href="/invite-to-team?team_id={{request.user.testhacks_profile.team_id}}&user_id={{competitor.id}}">Invite to team</a>
                        {% endif %}
                      {% else %}
                        <small>{{competitor.user.username}} is already on your team</small>
                      {% endif %}
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div class="text-center">
          <small style="color: white;">No competitors yet!</small>
        </div>
      {% endif %}
    </div>
{% endblock %}
