{% include 'testhacks/base.html' %}
<title>HackCollab - Team Invite</title>
{% block body %}
  <div class="float-container" style="width: 50%;">
    <h1>Invite to team</h1>
    <form class="form-group" method="post">
      {% csrf_token %}
      <input class="form-control my-4" type="text" name="title" placeholder="Title" value="You've been invited to join a team!">
      <textarea class="form-control my-4" name="description" rows="8" cols="80" placeholder="Description"></textarea>
      <input class="btn btn-outline-primary btn-block my-4" type="submit" value="Invite to team">
    </form>
  </div>
{% endblock %}
