{% load staticfiles %}
{% include 'testhacks/base.html' %}
<title>HackCollab - Notifications</title>
<link rel="stylesheet" href="{% static 'hackathon/notifications.css' %}">
{% block body %}
  <div class="float-container">
    <h1>Notifications</h1>
    {% if notifications %}
      <ul class="list-group">
        {% for notification, team in notifications.items %}
          <div class="notification list-group-item">
            <h3>{{notification.title}}</h3>
            <p>
              {{notification.description}}
            </p>
            {% if team %}
              <p>
                <strong>From:</strong> <a href="/team/{{team.id}}">{{team.name}}</a>
              </p>
            {% endif %}
            {% if notification.type == "action" %}
              <div class="btn-group">
                <a class="btn btn-primary" href="/accept-invite?team_id={{notification.source_id}}&user_id={{request.user.testhacks_profile.id}}&notification_id={{notification.id}}">Accept</a>
                <a class="btn btn-primary" href="/reject-invite?team_id={{notification.source_id}}&user_id={{request.user.testhacks_profile.id}}&notification_id={{notification.id}}">Reject</a>
              </div>
            {% else %}
              <button class="x" type="button" onclick="deleteNotification('{{notification.id}}')">&times;</button>
            {% endif %}
          </div>
        {% endfor %}
      </ul>
    {% else %}
      <small class="d-block text-center">No notifications!</small>
    {% endif %}
  </div>

  <script>
    async function deleteNotification(id) {
      let response = fetch("/delete-notification?id=" + id)
      location.reload()
    }
  </script>
{% endblock %}
