{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hackathon/base.css' %}">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible mb-0 text-left">
          <button class="close" type="button" data-dismiss="alert">
              <span>&times;</span>
          </button>
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Solarhacks</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-target">
              <ul class="navbar-nav ml-auto">
                  {% if request.user.is_authenticated %}
                    {% if request.user.solarhacks_profile.team_id %}
                      <li class="nav-item">
                          <a class="nav-link" href="/team/{{request.user.solarhacks_profile.team_id}}">View my Team</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="/create-team/">Create Team</a>
                      </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/teams/">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/competitors/">Competitors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{request.user.solarhacks_profile.id}}">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications/">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Login/Register</a>
                    </li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>
