{% load staticfiles %}
{% include 'solarhacks/base.html' %}
<title>HackCollab - Competitors</title>
<link rel="stylesheet" href="{% static 'hackathon/competitors.css' %}">
{% block body %}
    <h1 class="header">Competitors</h1>
    <div class="container">
      <div class="competitors">
        {% for competitor in competitors %}
          {% if competitor != request.user.solarhacks_profile %}
            <div class="competitor">
              <div class="image-cropper">
                <img class="profile-picture" src="/media/{{competitor.profile_picture}}" alt="">
              </div>
              <a href="/profile/{{competitor.id}}"><h4>{{competitor.user.username}}</h4></a>
              {% if request.user.solarhacks_profile.team_id %}
                <a class="btn btn-primary" href="/invite-to-team?team_id={{request.user.solarhacks_profile.team_id}}&user_id={{competitor.id}}">Invite to team</a>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %}
