{% include 'solarhacks/base.html' %}
{% block body %}
    <h1>{{team.name}}</h1>
    <p>
      {{team.description}}
    </p>
    <h3>Leader: <a href="/profile/{{leader.id}}">{{leader.user.username}}</a></h3>

    <h3>Team Notifications</h3>
    {% for notification, profile in notifications.items %}
      <h5>{{notification.title}}</h5>
      <p>{{notification.description}}</p>
      {% if not notification.source_id|first in 't' %}
        <a href="/accept-user?notification_id={{notification.id}}&user_id={{profile.id}}&team_id={{team.id}}">Accept</a>
        <a href="/reject-user?notification_id={{notification.id}}&team_id={{notification.target_id}}&user_id={{profile.id}}">Reject</a>
      {% endif %}
    {% endfor %}

    <br><a href="/leave-team/{{team.id}}">Leave Team</a>
{% endblock %}
