@media (max-width: 1000px) {
  .main-header {
    font-size: 15vw;
  }

  .responsive-subheader {
    font-size: 7.5vw;
  }
}

@media (max-width: 600px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 250px;
  }

  section {
    padding: 50px 20px;
  }

  .about-cards {
    margin: 10px;
  }

  .features-container {
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .qa-container {
    padding: 0;
  }

  .question {
    border-right: none;
  }

  .contact-us {
    padding: 50px;
  }

  .contact-us-form {
    /* margin: 0 50px; */
    width: 100%;
  }

  footer {
    padding: 50px 10px;
  }

  .footer-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 50px;
  }

  .footer-logo {
    width: 250px;
  }
}
