{% load staticfiles %}
{% include 'hackcollab_app/base.html' %}
<title>HackCollab - Internal Server Error</title>
<link rel="stylesheet" href="{% static 'hackcollab_app/documents.css' %}">
{% block body %}
  <h1 class="header">500 - Internal Server Error</h1>
  <div class="container">
    <p class="text-center w-50 m-auto" style="font-size: 20px;">
      We're sorry, but there has been an internal server error, so the page you are currently trying to load has some problems. Our developers are currently trying to fix this issue as quickly as possible, but please feel free to contact us for more information.
    </p>
    <div class="my-5 text-center">
      <a class="ghost-cta-button" href="/">Home Page</a>
    </div>
  </div>
{% endblock %}
