.teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.team {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.team-members-list {
  padding: 0 30px;
}
